.about-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: sans-serif;
  margin-bottom: 70px;
}

.about-main {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin: 70px 60px 0 60px;
}

.about-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 45px;
  width: 40%;
  font-weight: lighter;
}

.about-info > ul {
  font-size: 25px;
  color: black;
  padding: 0;
  margin: 15px 0;
  text-align: center;
  font-weight: lighter;
}

.about-me-img {
  display: flex;
  background-image: url('../images/abtme5.png');
  width: 100%;
  height: 700px;
  position: static;
}

.about-me-img-wrapper {
  width: 74%;
  left: 12%;
}

.abtme-img {
  display: flex;
  width: 560px;
  height: 560px;
  margin: 0 20px;
}

.genre {
  font-style: italic;
}

.fa-env {
  align-items: center;
  display: flex;
}

.env {
  /*color: black;*/
  margin: 0 10px;
  display: flex;
  text-decoration: none;
  text-shadow: none;
}
