.about-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
}

.about-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 50px 60px;
}

.about-info > ul {
  font-size: 25px;
  color: black;
  padding: 0;
  margin: 10px 0;
  text-align: center;
}

.about-me-img {
  display: flex;
  background-image: url('../images/abtme5.png');
  width: 100%;
  height: 700px;
  position: static;
}

.about-me-img-wrapper {
  width: 74%;
  left: 12%;
}

.abtme-img {
  width: 770px;
  height: 789px;
  margin: 0 20px;
}
