/*.splash-img {
  overflow: hidden;
  background-image: url('../images/vlee2.jpg');
  width: auto;
  height: 800px;
  background-position: center;
  background-size: cover;
}*/

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.main, .main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.main-wrapper {
  font-family: 'Josefin Sans', sans-serif;
}

.bg {
  position: relative;
  /*top: 0;*/
  /*left:-50%;*/
  width: 100%;
  height: 100vh;
}

.bg-img {
  position: absolute;
  top: 0;
  left: 0;
  /*z-index: -1;*/
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  margin: auto;
  /*box-shadow: inset 0 0 0 2000px rgba(29,29,29,0.28);*/
  /*box-shadow: inset 0 0 0 2000px rgba(126, 173, 206, 0.12);*/
  background-position: center;
  background-size: cover;
}

.bg-fix {
  display: flex;
  width: 100%;
  height: 700px;
  position: static;
}

.bg-img-main {
  background-image: url('../images/krost-ladder.jpg');
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

.navbar-right > a, .ig, .fb, .sc, .bc, .yt {
  color: white;
  margin: 0 5px;
  display: flex;
  text-decoration: none;
  text-shadow: none;
}

.ig:hover, .fb:hover, .sc:hover, .bc:hover, .yt:hover {
  color: rgb(204, 236, 255);
  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
}

.navbar-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-left {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.navbar > h1 {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
  text-transform: uppercase;
}

.sm-button:hover {
  text-shadow: none;
  background-color: rgba(204, 236, 255, 0.28);
  transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  /*background-color: rgba(181, 196, 241, 0.34);*/
}

.sm-container, .name-header > a, .navbar > a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sm-container {
  /*margin-top: 161px;*/
  /*margin-right: 51px;*/
}

.name-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: white;
  font-size: 12em;
  font-style: italic;
  width: auto;
}

.name-header > p {
  /*Josefin Sans*/
  margin: 53px 20px 0 20px;
}

.sm-button {
  margin: 0 20px;
  border: 4px solid white;
  color: white;
  padding: 17px 52px 12px 52px;
  font-size: 28px;
  background: none;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  flex: 1 0 126px;
}

@media screen and (max-width: 568px) {
  body {
    min-width: 568px;
  }

}

@media screen and (max-width: 746px) {
  .name-header {
    font-size: 8em;
  }
}

/*CLICK DROPDOWN*/
/*.dropdown-ham {
  position: relative;
  list-style: none;
  background-image: url('http://res.cloudinary.com/beebeean09/image/upload/v1494389705/whiteham_shbvjd.png');
  background-repeat: no-repeat;
  background-size: 70px 47px;
  margin: 1em;
  width: 60px;
  height: 50px;
  text-shadow:
    0 0 4px rgba(0,0,0, 0.72),
    0 0 14px rgba(0,0,0, 0.45);
  cursor: pointer;
}

.dropdown-content > ul {
  list-style: none;
  padding: 10px;
}

.dropdown-content {
  display: none;
}

.dropdown-content > ul:hover {
  cursor: pointer;
  background-color: rgba(29, 51, 115, 0.61);
  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
}

.dropdown-ham.change > .dropdown-content {
  display: inline-block;
  position: absolute;
  list-style: none;
  top: 37px;
  right: 26px;
  border: 1px solid white;
  padding: 0;
  margin: 0;
  width: 132px;
  text-align: center;
  background-color: rgba(181, 196, 241, 0.34);
}

 addMenu(e) {
   e.target.classList.toggle('change');
 }

 <div className="navbar-left">
 <li className="dropdown-ham" onClick={this.addMenu}>
   <ul className="dropdown-content">
     <ul>About Me</ul>
     <ul>Listen</ul>
     <ul>Live</ul>
     <ul>Contact</ul>
   </ul>
 </li>
 </div>*/
