/*.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/

/*.splash-img {
  overflow: hidden;
  background-image: url('../images/vlee2.jpg');
  width: auto;
  height: 800px;
  background-position: center;
  background-size: cover;
}*/

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#bg {
  position: relative;
  font-family: 'Quicksand', sans-serif;
  /*top: 0;*/
  /*left:-50%;*/
  /*width: 200%;*/
  height: 100vh;

}
.bg-img {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  margin: auto;
  background-image: url('../images/krost-ladder.jpg');
  /*box-shadow: inset 0 0 0 2000px rgba(29,29,29,0.28);*/
  box-shadow: inset 0 0 0 2000px rgba(126, 173, 206, 0.12);
  background-position: center;
  background-size: cover;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em;
}

.navbar-right > a, .ig, .fb, .sc, .bc, .yt {
  color: white;
  margin: 0 5px;
  display: flex;
  text-decoration: none;
  text-shadow: none;
}

.ig:hover, .fb:hover, .sc:hover, .bc:hover, .yt:hover {
  color: rgba(29, 51, 115, 0.61);
}

.navbar-right {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em;
}

.navbar-left {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.dropdown-ham {
  position: relative;
  list-style: none;
  background-image: url('http://res.cloudinary.com/beebeean09/image/upload/v1494389705/whiteham_shbvjd.png');
  background-repeat: no-repeat;
  background-size: 70px 47px;
  margin: 1em;
  width: 60px;
  height: 50px;
  text-shadow:
  0 0 4px rgba(0,0,0, 0.72),
  0 0 14px rgba(0,0,0, 0.45);
  cursor: pointer;
}

.dropdown-content > ul {
  list-style: none;
  padding: 10px;
}

.dropdown-content {
  display: none;
}

.dropdown-content > ul:hover {
  cursor: pointer;
  background-color: rgba(29, 51, 115, 0.61);
}

.dropdown-ham.change > .dropdown-content {
  display: inline-block;
  position: absolute;
  list-style: none;
  top: 37px;
  right: 26px;
  border: 1px solid white;
  padding: 0;
  margin: 0;
  width: 132px;
  text-align: center;
  background-color: rgba(181, 196, 241, 0.34);
}

.sm-button:hover {
  text-shadow: none;
  background-color: rgba(181, 196, 241, 0.34);
}


.sm-container, .name-header, a {
  /*position: relative;*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-shadow:
  0 0 4px rgba(0,0,0, 0.72),
  0 0 14px rgba(0,0,0, 0.45);
}



.name-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: white;
  font-size: 4.5em;
  margin: 2em 0 1em 0;
  width: auto;
}

.name-header > p {
  margin: 0 20px;
}

.sm-button {
  /*pos ab
  position: absolute;
  top: 5em;
  right: 14em;*/
  border: 4px solid white;
  border-radius: 5px;
  color: white;
  padding: 14px 22px;
  /*opacity: 0.8;*/
  font-size: 28px;
  background: none;
  cursor: pointer;
  text-decoration: none;
}
