.live-main {
  /*background-color: white;*/
  text-transform: uppercase;
  margin: 2%;
  padding: 2%;
  box-shadow: 0px 0px 19px 6px rgba(195, 195, 195, 0.55);
  /*margin: 2%;
  padding: 2%;
  background-color: rgba(128, 128, 128, 0.35);
  color: white;
  border-radius: 10px;*/
}

/* banner version and white bg*/
.live-banner {
  display: flex;
  background-image: url('../images/krost-rocks.jpg');
  height: 300px;
  background-position: center bottom 35%;
  background-size: cover;
  margin: 30px;
  box-shadow: inset 0 0 0 2000px rgba(29, 29, 29, 0.06);
}

.bg-img-live {
  background-image: url('../images/krost-rocks.jpg');
}

.live-list {
  text-align: center;
  /*margin: 2%;
  padding: 2%;*/
  margin: 1%;
  padding: 1%;
  border-radius: 10px;
}

.live-list-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.live-list-items > ul {
  width: 25%;
}

.live-list-header {
  /*banner*/
  /*border-bottom: 1px solid white;*/
  border-bottom: 1px solid grey;

}
