.live-main {
  text-transform: uppercase;
  border-radius: 10px;
  width: 100%;
  font-weight: lighter;
}

/* banner version and white bg*/
.live-banner {
  display: flex;
  background-image: url('../images/krost-rocks.jpg');
  height: 300px;
  background-position: center bottom 35%;
  background-size: cover;
  margin: 30px;
  box-shadow: inset 0 0 0 2000px rgba(29, 29, 29, 0.06);
}

.bg-img-live {
  background-image: url('../images/live2.jpg');
}

.live-list {
  text-align: center;
  padding: 3em 5em 5em 5em;
  border-radius: 10px;
}

.live-list > h1 {
  font-weight: lighter;
}

.live-list-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.live-list-items > ul {
  width: 25%;
}

.live-list-header {
  /*banner*/
  border-bottom: 1px solid black;
  /*border-bottom: 1px solid grey;*/
}
