.bg-img-sc {
  background-image: url('../images/trees.jpg');
}

.sc-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sc-display {
  width: 450px;
  height: 450px;
  z-index: 1;

}

#widget {
  box-shadow: none;
}
